version = "1.0"
[main]
name = "Moncycle.app configuration"
    [main.comptes]
    name = "comptes"
        [main.comptes.CREATION_COMPTE]
        ask.en = "Enable account creation"
        type = "boolean"
        default = "true"
        bind = ":__INSTALL_DIR__/config.php"